In [12]:
import pandas as pd 
df= pd.read_csv("produce.csv")
df.head()

,Particulars,Frequency,Unit,3-1993,3-1994,3-1995,3-1996,3-1997,3-1998,3-1999,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,Agricultural Production Foodgrains,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,Agricultural Production Foodgrains Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.30942,109.8734,110.57622,120.95724,118.138577,103.954032,120.853191,131.274812,128.07,129.3686
2,Agricultural Production Foodgrains Rabi,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.05340,98.7282,106.70590,109.81780,116.327600,114.153340,123.638618,128.011441,129.06,135.0120
3,Agricultural Production Foodgrains Rice,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.13170,91.7934,93.35530,96.69290,99.182500,89.092901,95.979819,105.301100,105.24,106.2872
4,Agricultural Production Foodgrains Rice Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.23000,78.2719,80.17080,82.65940,84.908200,75.916510,80.651241,92.780700,92.37,92.0093

In [13]:
import pandas as pd
import numpy as np
df=pd.read_csv("produce.csv")
df.columns=df.columns.str.strip().str.lower().str.replace("","_")
df.replace("_",np.nan,inplace=True)
df.head()

,_p_a_r_t_i_c_u_l_a_r_s_,_f_r_e_q_u_e_n_c_y_,_u_n_i_t_,_3_-_1_9_9_3_,_3_-_1_9_9_4_,_3_-_1_9_9_5_,_3_-_1_9_9_6_,_3_-_1_9_9_7_,_3_-_1_9_9_8_,_3_-_1_9_9_9_,...,_3_-_2_0_0_5_,_3_-_2_0_0_6_,_3_-_2_0_0_7_,_3_-_2_0_0_8_,_3_-_2_0_0_9_,_3_-_2_0_1_0_,_3_-_2_0_1_1_,_3_-_2_0_1_2_,_3_-_2_0_1_3_,_3_-_2_0_1_4_
0,Agricultural Production Foodgrains,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,Agricultural Production Foodgrains Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.30942,109.8734,110.57622,120.95724,118.138577,103.954032,120.853191,131.274812,128.07,129.3686
2,Agricultural Production Foodgrains Rabi,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.05340,98.7282,106.70590,109.81780,116.327600,114.153340,123.638618,128.011441,129.06,135.0120
3,Agricultural Production Foodgrains Rice,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.13170,91.7934,93.35530,96.69290,99.182500,89.092901,95.979819,105.301100,105.24,106.2872
4,Agricultural Production Foodgrains Rice Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.23000,78.2719,80.17080,82.65940,84.908200,75.916510,80.651241,92.780700,92.37,92.0093

In [15]:
# STEP 2: RESHAPE DATA FOR ML (FINAL)

import pandas as pd
import numpy as np

df = pd.read_csv("produce.csv")

# Clean columns
df.columns = df.columns.astype(str)

# Take first row (overall foodgrain production)
row = df.iloc[0]

# Keep only year columns (1993 onwards)
year_data = row[row.index.str.contains("-")]

final_df = pd.DataFrame({
    "year": year_data.index.str.replace("3-", ""),
    "production": year_data.values
})

final_df["year"] = final_df["year"].astype(int)
final_df["production"] = pd.to_numeric(final_df["production"], errors="coerce")

final_df = final_df.dropna()

final_df.head()

    year  production
12  2005  198.362820
13  2006  208.601600
14  2007  217.282120
15  2008  230.775040
16  2009  234.466177

In [ ]:
# STEP 3: MACHINE LEARNING MODEL (FINAL)

from sklearn.linear_model import LinearRegression

X = final_df[['year']]
y = final_df['production']

model = LinearRegression()
model.fit(X, y)

# Predict future production
future_years = pd.DataFrame({'year': [2025, 2026, 2027]})
future_prediction = model.predict(future_years)

future_prediction

array([343.07262354, 350.15547802, 357.2383325 ])